{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/header.css' %}?v=2">
</head>
<body>
    <div class="header">
        <a href="{% url 'home_page' %}">
            <img src="{% static 'images/Home_img.png' %}" alt="Home">
        </a>
    </div>
    <ul>
        <li>
            <a href="login/" class="btn btn-primary">Страница входа</a>
        </li>
        <li>
            <a href="registration/" class="btn btn-primary">Страница регистрации</a>
        </li>
        <li>
            {% if user.is_authenticated %}
                <a href='{% url 'profile_page' user.id %}' class="btn btn-primary">Страница профиля</a>
            {% else %}
                <a href='{% url 'not_authenticated_profile_page' %}' class="btn btn-primary">Страница профиля</a>
            {% endif %}
        </li>
        <li>
            <a href="seller/product-add/" class="btn btn-primary">Добавить товар</a>
        </li>
        <li>
            <a href="product-list/" class="btn btn-primary">Все товары</a>
        </li>
        <li>
            <a href="cart/" class="btn btn-primary">Корзина</a>
        </li>
        {% if is_seller %}
            <li>
                <a href='{% url 'seller_page' user.id %}' class="btn btn-primary">Страницка продавца</a>
            </li>
        {% endif %}
    </ul>

    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

</body>
</html>