<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>
            <a href="login/" class="btn btn-primary">Страница входа</a>
        </li>
        <li>
            <a href="registration/" class="btn btn-primary">Страница регистрации</a>
        </li>
        <li>
            {% if user.is_authenticated %}
                <a href='{% url 'profile_page' user.id %}' class="btn btn-primary">Страница профиля</a>
            {% else %}
                <a href='{% url 'not_authenticated_profile_page' %}' class="btn btn-primary">Страница профиля</a>
            {% endif %}
        </li>
        <li>
            <a href="orders/" class="btn btn-primary">Список заказов</a>
        </li>
        <li>
            <a href="seller/product-add/" class="btn btn-primary">Добавить товар</a>
        </li>
        <li>
            <a href="product-list/" class="btn btn-primary">Все товары</a>
        </li>
        <li>
            <a href="cart/" class="btn btn-primary">Корзина</a>
        </li>
        {% if is_seller %}
            <li>
                <a href='{% url 'seller_page' user.id %}' class="btn btn-primary">Страницка продавца</a>
            </li>
        {% endif %}
    </ul>

    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

</body>
</html>